@font-face {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NoeDisplay-Black.OTF");
  src: local("Noe Display"), local("NoeDisplay"), url("/fonts/NoeDisplay-Black.otf") format("opentype"), url("/fonts/NoeDisplay-Black.ttf") format("truetype"), url("/fonts/NoeDisplay-Black.woff") format("woff"), url("/fonts/NoeDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Druk Text Wide";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DrukTextWide-Medium.ttf");
  src: local("Druk Text Wide"), local("DrukTextWide"), url("/fonts/DrukTextWide-Medium.otf") format("opentype"), url("/fonts/DrukTextWide-Medium.ttf") format("truetype"), url("/fonts/DrukTextWide-Medium.woff") format("woff"), url("/fonts/DrukTextWide-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Apercu-Regular.otf");
  src: local("Apercu"), url("/fonts/Apercu-Regular") format("opentype"), url("/fonts/Apercu-Regular.ttf") format("truetype"), url("/fonts/Apercu-Regular.woff") format("woff"), url("/fonts/Apercu-Regular.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  color: #212121;
  letter-spacing: 1px;
  font-family: "Apercu", "Courier", sans-serif;
  background-color: #F0F4F3;
  margin-top: 100px;
}

.home-page {
  color: #F0F4F3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.home-page h1 {
  width: 50vw;
  text-align: center;
  text-shadow: -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121;
}
.home-page .wrapper {
  text-align: center;
  position: fixed;
  top: -100px;
  z-index: -1;
}
.home-page svg {
  margin: 0 auto;
  width: 140vw;
  height: 130vh;
}

.bike {
  background-image: url("/bike.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

h1, h2 {
  font-family: "Noe Display", "Georgia", serif;
  font-weight: 900;
}

h3, h4, h5 {
  font-family: "Noe Display", "Georgia", serif;
  font-weight: 900;
  font-size: 120%;
}

h1 {
  font-size: 42px;
}

.my-name {
  font-family: "Druk Text Wide", sans-serif;
  position: fixed;
  z-index: 13;
  top: 0px;
  left: 15px;
  font-size: 50px;
  line-height: 0;
  text-shadow: -1px -1px 0 #F0F4F3, 1px -1px 0 #F0F4F3, -1px 1px 0 #F0F4F3, 1px 1px 0 #F0F4F3;
}

.links {
  font-family: "Druk Text Wide", sans-serif;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.links a {
  z-index: 2;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  border-bottom: 2px solid #212121;
  text-shadow: -1px -1px 0 #F0F4F3, 1px -1px 0 #F0F4F3, -1px 1px 0 #F0F4F3, 1px 1px 0 #F0F4F3;
}
.links .squiggle-hover-black:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='#212121' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 0.9em;
  background-size: auto 4px;
  background-repeat: repeat-x;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  outline: none;
  -webkit-text-fill-color: #212121;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-page .alt-contact {
  font-family: "Druk Text Wide", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
}
.contact-page .btnCont {
  text-align: center;
}
.contact-page button {
  border: 3px solid #212121;
  width: 250px;
  font-size: 20px;
  font-family: inherit;
  padding-top: 5px;
}
.contact-page input, .contact-page textarea {
  margin-bottom: 40px;
  width: 50vw;
  min-width: 300px;
  font-family: inherit;
  font-size: 24px;
  color: #212121;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #212121;
}
.contact-page input::placeholder, .contact-page textarea::placeholder {
  color: #212121;
}
.contact-page input:focus, .contact-page textarea:focus, .contact-page button:focus {
  outline: none;
}
.contact-page textarea {
  resize: none;
}
.contact-page img {
  width: 35px;
  margin-bottom: -10px;
  border-bottom: 3px solid #212121;
}
.contact-page img:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='#212121' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 1.2em;
  background-size: auto 5px;
  background-repeat: repeat-x;
}

.work-page {
  font-size: 16px;
  line-height: 1.5;
  width: 80vw;
  margin: 150px auto 0 auto;
}
.work-page .work-desc {
  word-wrap: break-word;
  width: 40vw;
  margin: 10px auto;
}
.work-page h1 {
  width: 100%;
  text-align: center;
  font-size: 62px;
}

.mr-yum {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 750px auto minmax(550px, 750px);
  grid-template-areas: "heading phone-view" "body body" "tablet-view tablet-view";
}

.heading {
  grid-area: heading;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.heading h3 {
  margin-bottom: 0;
}

.phone-view {
  grid-area: phone-view;
  background-image: url("/mryum_home.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: phoneTransition 10s infinite;
  -moz-animation: phoneTransition 10s infinite;
  -o-animation: phoneTransition 10s infinite;
  animation: phoneTransition 10s infinite;
}
@keyframes phoneTransition {
  0%, 100% {
    background-image: url("/mryum_home.png");
  }
  23% {
    background-image: url("/mryum_home.png");
  }
  33% {
    background-image: url("/translations.png");
  }
  56% {
    background-image: url("/translations.png");
  }
  66% {
    background-image: url("/definitions.png");
  }
  90% {
    background-image: url("/definitions.png");
  }
}
@-o-keyframes phoneTransition {
  0%, 100% {
    background-image: url("/mryum_home.png");
  }
  23% {
    background-image: url("/mryum_home.png");
  }
  33% {
    background-image: url("/translations.png");
  }
  56% {
    background-image: url("/translations.png");
  }
  66% {
    background-image: url("/definitions.png");
  }
  90% {
    background-image: url("/definitions.png");
  }
}
@-moz-keyframes phoneTransition {
  0%, 100% {
    background-image: url("/mryum_home.png");
  }
  23% {
    background-image: url("/mryum_home.png");
  }
  33% {
    background-image: url("/translations.png");
  }
  56% {
    background-image: url("/translations.png");
  }
  66% {
    background-image: url("/definitions.png");
  }
  90% {
    background-image: url("/definitions.png");
  }
}
@-webkit-keyframes phoneTransition {
  0%, 100% {
    background-image: url("/mryum_home.png");
  }
  23% {
    background-image: url("/mryum_home.png");
  }
  33% {
    background-image: url("/translations.png");
  }
  56% {
    background-image: url("/translations.png");
  }
  66% {
    background-image: url("/definitions.png");
  }
  90% {
    background-image: url("/definitions.png");
  }
}

.body {
  grid-area: body;
  display: flex;
}
.body div {
  width: 33%;
  padding: 0 20px;
}
.body div:nth-of-type(2) p {
  padding-bottom: calc(100px - 5vw);
}

.tablet-view {
  grid-area: tablet-view;
  background-image: url("/hero.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: tabletTransition 10s infinite;
  -moz-animation: tabletTransition 10s infinite;
  -o-animation: tabletTransition 10s infinite;
  animation: tabletTransition 10s infinite;
}
@keyframes tabletTransition {
  0%, 100% {
    background-image: url("/hero.png");
  }
  15% {
    background-image: url("/hero.png");
  }
  25% {
    background-image: url("/images.png");
  }
  40% {
    background-image: url("/images.png");
  }
  50% {
    background-image: url("/footer.png");
  }
  65% {
    background-image: url("/footer.png");
  }
  75% {
    background-image: url("/faq.png");
  }
  90% {
    background-image: url("/faq.png");
  }
}
@-o-keyframes tabletTransition {
  0%, 100% {
    background-image: url("/hero.png");
  }
  15% {
    background-image: url("/hero.png");
  }
  25% {
    background-image: url("/images.png");
  }
  40% {
    background-image: url("/images.png");
  }
  50% {
    background-image: url("/footer.png");
  }
  65% {
    background-image: url("/footer.png");
  }
  75% {
    background-image: url("/faq.png");
  }
  90% {
    background-image: url("/faq.png");
  }
}
@-moz-keyframes tabletTransition {
  0%, 100% {
    background-image: url("/hero.png");
  }
  15% {
    background-image: url("/hero.png");
  }
  25% {
    background-image: url("/images.png");
  }
  40% {
    background-image: url("/images.png");
  }
  50% {
    background-image: url("/footer.png");
  }
  65% {
    background-image: url("/footer.png");
  }
  75% {
    background-image: url("/faq.png");
  }
  90% {
    background-image: url("/faq.png");
  }
}
@-webkit-keyframes tabletTransition {
  0%, 100% {
    background-image: url("/hero.png");
  }
  15% {
    background-image: url("/hero.png");
  }
  25% {
    background-image: url("/images.png");
  }
  40% {
    background-image: url("/images.png");
  }
  50% {
    background-image: url("/footer.png");
  }
  65% {
    background-image: url("/footer.png");
  }
  75% {
    background-image: url("/faq.png");
  }
  90% {
    background-image: url("/faq.png");
  }
}

.t-a-s {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 750px auto minmax(550px, 750px);
  grid-template-areas: "phone-view heading" "body body" "tablet-view tablet-view";
}
.t-a-s .phone-view {
  background-image: url("/tas_phone.png");
  background-repeat: no-repeat;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
.t-a-s .tablet-view {
  background-image: url("/tas_tablet.png");
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

@media screen and (max-width: 768px) {
  .home-page h1 {
    width: 95vw;
  }
  .home-page .wrapper {
    text-align: center;
    position: fixed;
    top: -100px;
    z-index: -1;
  }
  .home-page svg {
    margin: 0 auto;
    width: 170vw;
  }

  .work-page {
    margin: 0 auto;
  }
  .work-page .work-desc {
    width: 70vw;
  }
  .work-page .mr-yum, .work-page .t-a-s {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100vh auto 50vh;
    grid-template-areas: "heading" "phone-view" "body" "tablet-view";
  }
  .work-page .mr-yum .body, .work-page .t-a-s .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .work-page .mr-yum .body div, .work-page .t-a-s .body div {
    width: 100%;
  }
  .work-page .mr-yum .body div:nth-of-type(2), .work-page .t-a-s .body div:nth-of-type(2) {
    padding-top: 30px;
  }
  .work-page .mr-yum .body div:nth-of-type(2) p, .work-page .t-a-s .body div:nth-of-type(2) p {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=App.css.map */
