$black: #212121;
$white: #F0F4F3;

* {
  box-sizing: border-box;
}

body {
  color: $black;
  letter-spacing: 1px;
  // font-family: "Graphik LC Web", sans-serif;
  font-family: "Apercu Mono", "Courier", sans-serif;
  background-color: $white;
  margin-top: 100px;
}

.home-page {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: calc(100vh - 250px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  h1 {
    width: 50vw;
    text-align: center;
    text-shadow:
     -1px -1px 0 $black,
      1px -1px 0 $black,
      -1px 1px 0 $black,
       1px 1px 0 $black;
  }


  .wrapper{
    text-align:center;
    position: fixed;
    top: -100px;
    z-index: -1;
  }

  svg{
    margin: 0 auto;
    width: 140vw;
    height: 130vh;
  }
}

.bike {
  background-image: url('/bike.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2 {
  font-family: "Noe Display", "Georgia", serif;
  font-weight: 900;
}

h3, h4, h5 {
  font-family: "Noe Display", "Georgia", serif;
  font-weight: 900;
  font-size: 120%;
}

h1 {
  font-size: 42px;
}

.my-name {
  font-family: "Druk Text Wide", sans-serif;
  position: fixed;
  z-index: 13;
  top: 0px;
  left: 15px;
  font-size: 50px;
  line-height: 0;
  text-shadow:
   -1px -1px 0 $white,
    1px -1px 0 $white,
    -1px 1px 0 $white,
     1px 1px 0 $white;
}

.links {
  font-family: "Druk Text Wide", sans-serif;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a {
    z-index: 2;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    border-bottom: 2px solid $black;
    text-shadow:
     -1px -1px 0 $white,
      1px -1px 0 $white,
      -1px 1px 0 $white,
       1px 1px 0 $white;
  }

  .squiggle-hover-black:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='#212121' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 .9em;
    background-size: auto 4px;
    background-repeat: repeat-x;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: none;
  outline: none;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-page {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .alt-contact {
    font-family: "Druk Text Wide", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
  }

  .btnCont {
    text-align: center;
  }

  button {
    border: 3px solid $black;
    width: 250px;
    font-size: 20px;
    font-family: inherit;
    padding-top: 5px;
  }

  input, textarea {
    margin-bottom: 40px;
    width: 50vw;
    min-width: 300px;
    font-family: inherit;
    font-size: 24px;
    color: $black;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid $black;
  }

  input::placeholder, textarea::placeholder {
    color: $black;
  }


  input:focus, textarea:focus, button:focus {
    outline: none;
  }

  textarea {
    resize: none;
  }

  img {
    width: 35px;
    margin-bottom: -10px;
    border-bottom: 3px solid $black;
  }

  img:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='#212121' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.2em;
    background-size: auto 5px;
    background-repeat: repeat-x;
  }
}

.work-page {
  font-size: 16px;
  line-height: 1.5;
  width: 90vw;
  margin: 150px auto;

  h1 {
    margin: 40px 0;
    // line-height: 0;
    font-size: 62px;
  }

  h3 {
  }
}

.mr-yum {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "mr-yum-desc phone-view" "tablet-view tablet-view";
  font-size: 16px;

  .mr-yum-desc {
    grid-area: mr-yum-desc;
    width: 30vw;
    min-width: 250px;
    margin: 0 auto;
    max-width: 550px;
  }

  .phone-view {
    grid-area: phone-view;
    width: 50vw;

    .react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap img {
      margin-top: 150px;
      width: 50vw;
      max-width: 450px;
      margin-left: 15px;
    }
  }

  .tablet-view {
    grid-area: tablet-view;
    width: 90vw;
    margin: 0 auto;

    .react-slideshow-fade-images-wrap {
      margin: 0 auto;
      width: 90vw;
    }

    .react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap * {
      width: 90vw;
      max-width: 1000px;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    // background-color: cyan;
  }

  .work-page {
    margin: 0 auto;
  }

  .mr-yum {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "mr-yum-desc" "phone-view" "tablet-view";

    .react-slideshow-container {
      width: 500px;
    }


    .mr-yum-desc {
      max-width: 90vw;
      width: auto;
      margin: 0;
    }

    .phone-view, .tablet-view {
      margin: 0 auto;
      width: auto;
      max-width: none;

      .react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap img {
        width: 100%;
        margin: 0 auto;
        max-width: none;

      }

      .react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap * {
        width: 85vw;
        // max-width: none;
      }
    }

    .tablet-view {
      .react-slideshow-container {
        width: 85vw;
      }
    }

  }
}

@media screen and (max-width: 550px) {
  body {
    // background-color: #dfa5fa;
  }

  .home-page {

    h1 {
      width: 95vw;
    }

    .wrapper{
      text-align:center;
      position: fixed;
      top: -100px;
      z-index: -1;
    }

    svg{
      margin: 0 auto;
      width: 200vw;
      // height: 140vh;
    }
  }


  .mr-yum {

    .react-slideshow-container {
      width: 90vw;
    }

    .each-fade {
      margin: 0 auto;
    }
  }

  // .mr-yum {
  //
  //   .phone-view {
  //
  //     .mr-yum .phone-view .react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap img {
  //       width: auto;
  //       max-width: none;
  //     }
  //   }
  //
  //   .tablet-view {
  //     display: none;
  //   }
  // }
}
